

<div class="container text-center text-success">
  <p id="notice"><%= notice %></p>
</div>

<div class="container text-center text-light">
  <h1>Projects</h1>
</div>

<br>

<div class="container mx-auto mt-4">
<div class="row">
<% @projects.each do |project| %>

  <div class="col mb-4">
  <div class="card" style="width: 20rem;">
    <div class="card-header text-center">
      <h5><%= project.title %></h5>
    </div>
    <div class="card-body">
      <p class="card-text"><%= project.description %></p>
      <p class="card-text"><small class="text-muted">By: @user</small></p>
    
      <% if user_signed_in? %>
        <div class="row">
          <%= link_to 'Show', project, class:"btn-fox mr-2" %>
          <%= link_to 'Edit', edit_project_path(project), class:"btn-fox mr-2" %>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'text-danger' %>
        </div>  
      <% end %>
    </div>

    </div>
  </div>

    
<% end %>
</div>
</div>
