<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="card text-center">
    <div class="card-header display-4">
      <%= @project.title %>
    </div>

    <div class="card-body">
      <div class="card-title"><%= @project.description %></div>
    </div>

    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>

</div>