<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

<div class="container-fluid">
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="/projects.html">Portfolio</a>
  
      <div class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <%= link_to 'New Project', new_project_path, :class=>'nav-link active' %>
        <% end %>
      </div>
    

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
          <%= link_to 'Edit profile', edit_user_registration_path, :class=>'nav-link active' %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class=>'nav-link active' %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class=>'nav-link active' %> 
          <%= link_to "Login", new_user_session_path, :class=>'nav-link active' %>
      <% end %>
    <ul>
  </div>
</nav>
</div>

<body>
  <%= yield %>
</body>
</html>
